<h1>Welcome to My Wallet</h1>
<h2><strong>Date:</strong> <%= l(Date.today) %></h2>
<%= render "menu" %>
<p><%= t('actual_locale')  %></p>
<p>Você está em ambiente de <strong><%= ambiente_rails %></strong></p>
<p>Nome informado por parâmetro na url <strong><%= @nome %></strong></p>
